@model AyakkabiSatisUygulamasi.Dto.CartViewModel
<div class="menü-item-4">
    <a href="/Cart/Index" style="color: black">
    <span>@Model.GrandTotal</span>
     <i class="fas fa-shopping-cart"></i>
    <span>Sepetim</span>
     </a>
</div>